*
html {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}


body {
    background-color: black;
}

.headline {
    color: #fff;
    height: 100;
    font-size: 75;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .container-navbar {
        background-color: #e7e700;
}


.kolombaru {
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
}

.kolomtombol {
    color: black;
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    font-size: 20px;
    text-decoration: none;
}

.kolomtombol:hover {
    background-color: hsl(60, 100%, 42%);
    border-radius: 8px;
    transition: .3s ease-in-out
}

.animasitombol {
    text-decoration: none;
    color: black;
}

/* GAMBAR SAHAJA */
.gambar1{
    display: flex;
    justify-content: center;
    padding-block: 25px;
}
.gambar2{
    display: flex;
    justify-content: center;
    padding-block: 25px;
}
.gambar3{
    display: flex;
    justify-content: center;
    padding-block: 25px;
}
.gambar4{
    display: flex;
    justify-content: center;
    padding-block: 25px;
}